/* --------------------------------- Floor Plan and Frontal Cut*/
#form-wind,.stage-Dimension,.shed,.container-shed {
    height: 100%;
}

.container-shed{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


.floorPlan,.frontalcut,.waterproof{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn-calculate{
    margin-top:20px;
    width: 70px;
    height: 30px;
}

/* --------------------------------- Inputs */
.input-shed{
    width: 40px;
    height: 20px;
    text-align: center;
    border-width: 0;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

/* -------------------------------- Floor Plan*/
.template-floor-plan {
    display: grid;
    grid-template:
        "lenght plan plan "
        "- width width " 
}

.plan,.width,.lenght{
    text-align: center;
    justify-self: center;
    align-self: center;
}

.width {
    grid-area: width;
}

.plan {
    grid-area: plan;
}

.lenght {
    grid-area: lenght;
}

/* -------------------------------- Frontal Cut */
.template-frontal-cut {
    display: grid;
    grid-template:
        "height-Roof img-frontalCut img-frontalCut angle-Roof" 58px
        "height-shed img-frontalCut img-frontalCut angle-Roof" 123px

}

.height-Roof,.height-shed{
    text-align: center;
    justify-self: center;
    align-self: center;
}

.img-floorPlan{
     position: relative;
}

.angle-Roof {
    position: absolute;
    top: 62%;
    left: 25%;
}

.height-Roof {
    grid-area: height-Roof;
}

.height-shed {
    grid-area: height-shed;
} 

.angle-Roof {
    grid-area: angle-Roof;
}

.img-frontalCut {

    grid-area: img-frontalCut;
}

/* ------------------------------- Áreas Waterproof */
.template-waterproof {
    position: relative;
    top:-10px;
    display: grid;
    grid-template:
        "blank-0 area-c1 area-c2 blank-2" 20px 
        "area-a1 planwater planwater area-b1" 75px
        "area-a2 planwater planwater area-b2" 80px
        "area-a3 planwater planwater area-b3" 
        "blank-1 area-d1 area-d2 blank-3"
}

.a1 {
    grid-area: area-a1;
}

.a2 {
    grid-area: area-a2;
}

.a3 {
    grid-area: area-a3;
}

.b1 {
    grid-area: area-b1;
}

.b2 {
    grid-area: area-b2;
}

.b3 {
    grid-area: area-b3;
}

.d1 {
    grid-area: area-d1;
}

.d2 {
    grid-area: area-d2;
}

.c1 {
    grid-area: area-c1;
}

.c2 {
    grid-area: area-c2;
} 

.planwater {
    grid-area: planwater;
}

.a1,.a2,.a3,.b1,.b2,.b3,.c1,.c2,.d1,.d2,.planwater{
    text-align: center;
    justify-self: center;
    align-self: center;
}

.floor-plan, .frontal-cut, .input-waterproof {
    text-align: center;
}

.wall-active{
    fill: #E36414;
    transition: 0.2s;
    cursor: pointer;
}



