/* --------------------------------- Floor Plan and Frontal Cut*/
#form-wind,.stage-Dimension,.shed,.container-shed {
    height: 100%;
}
#home-container {
    overflow: hidden;
}
.container-shed{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


.floorPlan,.frontalcut,.waterproof{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn-calculate{
    margin-top:20px;
    width: 70px;
    height: 30px;
}

/* --------------------------------- Inputs */
.input-shed{
    width: 40px;
    height: 20px;
    text-align: center;
    border-width: 0;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

/* -------------------------------- Floor Plan*/
.template-floor-plan {
    display: grid;
    grid-template:
        "lenght plan plan "
        "- width width " 
}

.plan,.width,.lenght{
    text-align: center;
    justify-self: center;
    align-self: center;
}

.width {
    grid-area: width;
}

.plan {
    grid-area: plan;
}

.lenght {
    grid-area: lenght;
}

/* -------------------------------- Frontal Cut */
.template-frontal-cut {
    display: grid;
    grid-template:
        "height-Roof img-frontalCut img-frontalCut angle-Roof" 58px
        "height-shed img-frontalCut img-frontalCut angle-Roof" 123px

}

.height-Roof,.height-shed{
    text-align: center;
    justify-self: center;
    align-self: center;
}

.img-floorPlan{
     position: relative;
}

.angle-Roof {
    position: absolute;
    top: 62%;
    left: 25%;
}

.height-Roof {
    grid-area: height-Roof;
}

.height-shed {
    grid-area: height-shed;
} 

.angle-Roof {
    grid-area: angle-Roof;
}

.img-frontalCut {

    grid-area: img-frontalCut;
}

/* ------------------------------- Áreas Waterproof */
.template-waterproof {
    position: relative;
    top:-10px;
    display: grid;
    grid-template:
        "blank-0 area-c1 area-c2 blank-2" 20px 
        "area-a1 planwater planwater area-b1" 75px
        "area-a2 planwater planwater area-b2" 80px
        "area-a3 planwater planwater area-b3" 
        "blank-1 area-d1 area-d2 blank-3"
}

.a1 {
    grid-area: area-a1;
}

.a2 {
    grid-area: area-a2;
}

.a3 {
    grid-area: area-a3;
}

.b1 {
    grid-area: area-b1;
}

.b2 {
    grid-area: area-b2;
}

.b3 {
    grid-area: area-b3;
}

.d1 {
    grid-area: area-d1;
}

.d2 {
    grid-area: area-d2;
}

.c1 {
    grid-area: area-c1;
}

.c2 {
    grid-area: area-c2;
} 

.planwater {
    grid-area: planwater;
}

.a1,.a2,.a3,.b1,.b2,.b3,.c1,.c2,.d1,.d2,.planwater{
    text-align: center;
    justify-self: center;
    align-self: center;
}

.floor-plan, .frontal-cut, .input-waterproof {
    text-align: center;
}

.wall-active{
    fill: #E36414;
    transition: 0.2s;
    cursor: pointer;
}

/* ------------------------------- modal  */

.modal-wrapper {
    visibility: hidden;
    opacity: 0;
  }
  
.modal-wrapper.on {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 4rem;
    left: 0rem;
    background: rgba(0, 0, 0, 0.1);  
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    z-index: 20;
}
  
.modal {
    background: #fff;
    border-radius: 0.313rem;
    padding: 2.5rem;
    text-align: center;
    
}

.modal h3 {
    font-size: 1rem;
    line-height: 2.625rem;
    margin-bottom: .2rem;

}

.WindDirection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


/* -----------------------------Wind 0 */

.template-wind-0 {
    display: grid;
    grid-template:
        "a1-0 img-wind-0 img-wind-0" 130px
        "a2-0 img-wind-0 img-wind-0" 78px
        "a3-0 img-wind-0 img-wind-0" 
        "blank_2 d-0 d-0" 20px
}

.a1-0 {
    align-items: flex-end;
    grid-area: a1-0;
}

.a1-0,.a2-0 {
    display:flex;
    justify-content: center;
}

.a2-0 {
    grid-area: a2-0;
    align-items: center;
}

.a3-0 {
    position: relative;
    top: 28px;
    grid-area: a3-0;
}

.img-wind-0 {
    grid-area: img-wind-0;
}

.d-0 {
    grid-area: d-0;
}

/* -----------------------------Wind 90 */

.template-wind-90 {
    display: grid;
    grid-template:
        "img-wind-90 img-wind-90 img-wind-90 b-90" 
        "img-wind-90 img-wind-90 img-wind-90 b-90" 
        "d1-90 d1-90 d2-90 d2-90" 
}

.b-90 {
    display:flex;
    align-items: center;
    grid-area: b-90;
}

.d1-90 {
    position: relative;
    left: -30px;
    text-align:right;
    grid-area: d1-90;
}

.d2-90 {
    position: relative;
    left: 10px;
    text-align:left;
    grid-area: d2-90;
}

.img-wind-90 {
    grid-area: img-wind-90;
}




  /* .modal footer button {
    padding: 0.75rem 3rem;
    border-radius: 0.313rem;
  
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.625rem;
    text-transform: uppercase;
  
    transition: all .2s;
  
    cursor:pointer;
  }
  
  .modal footer button + button {
    margin-left: .5rem;
  }
  
  .modal footer button:nth-child(1) {
    color: var(--color-card-content);
    background: var(--color-cancel);
  }
  
  .modal footer button:nth-child(1):hover {
    background: #ECEEF0;
  }
  
  .modal footer button:nth-child(2) {
    background: var(--color-delete);
  }
  
  .modal footer button:nth-child(2):hover {
    background: #FA3F38;
  } */