.content-wind {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wind-value {
    display: flex;
    align-items: center;
    justify-content: center;
}

#speedWind {
    text-align: center;
    margin-left: 8px;
    width: 50px;
}

/* ---------- taludes e morros */
.container-s1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dimension-Hills{
    display: none;
}

.on-dimension-Hills {
    display: block;
}

.s1-1,.s1-2,.s1-3 {
    margin-top: 2rem;
}

/* ---------- S2*/
.table-category {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.85em;
    font-family: sans-serif;
    min-width: 400px;
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.table-category thead tr {
    background-color: #adb5bd;
    color: #ffffff;
    text-align: center;
}
.table-category th,
.table-category td {
    padding: 7px 8px;
}

.table-category tbody tr {
    border-bottom: 1px solid #ced4da;
}

.table-category tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-category tbody tr:last-of-type {
    border-bottom: 2px solid #ced4da;
}
.table-category  tbody tr.active-row {
    font-weight: bold;
    color: #adb5bd;
}

/* ------------CpeWall */
.WindDirection-cpewall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    height: 100%;
}

.stage-Wall{
    height:100%
}

#table-cpeWall-0 {
    text-align: center;
    width: 300px;
}

.cpewall{
    height:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 85%;
}

/* -----------------------------Wind 0 */
.title-cpeWall{
    position: relative;
    left: 25px;
}

.a1-b1{
    height: 60px;
    width: 6px
}

.a3-b3{
    height: 95px;
}

.img-cpeWall-0 {
    position: relative;
    width: 90px;
}

#cpe-wind-0 {
    position: absolute;
    top: -42px;
    left: -30px;
}

.c-header {
    height: 70px;
    position: relative;
    top: -20px;
    left: 22px;
}

.d-footer{
    height: 30px;
    position: relative;
    top: 15px;
    left: 22px;
}

#cpe-a1-0 {
    position: relative;
    left: -10px;
}
#cpe-a3-0 {
    position: relative;
    left: 10px;
}

/* -----------------------------Wind 90 */
.cpeWall-0-section,.cpeWall-90-section {
    display: flex;
    align-items: center;
    justify-content:center;
}

.a-a{
    height:300px;
}

#table-cpeWall-90 {
    text-align: center;
    width: 250px;
    height: 250px;
}
.img-cpeWall-90 {
    position: relative;
    width: 200px;
}

#cpe-wind-90 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.a-a{
    position: relative;
    top: 29px;
}

.cpe-d1-90{
    position: relative;
    left: 90px;
    top: 50px;
}

.cpe-d2-90{
    position: relative;
    left: -65px;
    top: 30px;
}

/* -----------------------------Wind 0 */

.WindDirection-cperoof {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    height: 100%;
}

.stage-Roof{
    height:100%
}

#table-cpeRoof-0 {
    text-align: center;
    width: 300px;
}

.cperoof{
    height:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 85%;
}

#table-cperoof-0{
    position: relative;
    top: 40px;
    text-align: center;
}

.e-e{
    height: 55px;
}

.e-g{
    height: 50px;
    width: 45px;
}

.f-h{
    height: 77px;
}

.i-j{
    height:  88px;
}


.img-cpeRoof-0{
    position: relative;
    width: 150px;
    height: 90px;
}


#cpe-Roof-0{
    position: absolute;
    top: -40px;
    left: 17px;
}

.title-cpeRoof{
    position: relative;
    left: 12px;
    top: -90px;
}
/* -----------------------------Wind 90 */

.e-g.nin, .f-h.nin,.i-j.nin{
    position: relative;
    left: 25px
}

.cpe-img-Roof-90{
    position: relative;
    top: -6px;
}

.WindDirection-cperoof{
    position: relative;
    top: -15px;
    left: 10px;
}

/* -----------------------------Cpi e effort */

.WindDirection-cpi,.WindDirection-effort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    height: 100%;
    font-size: 85%;
}


#cpi,.modal-cpi,#effort,.modal-effort {
    height:100%;
    display: flex;
    justify-content:center;
    align-items:center;
}

#table-cpi-0,#table-effort-0,#table-effort-90,#table-effort-180,#table-effort-270   {
    width:50px;
    text-align: center;
    width: 300px;
}

.cpi,.cpi-0-section,.cpi-90-section,.cpi-180-section,.cpi-270-section
.effort,.effort-0-section,.effort-90-section,.effort-180-section,.effort-270-section{
    height:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    
}

.cpi-center {
    text-align: center;
    position: relative;
    left: 160px;
    top: -75px;
    
}

.cpe-roof-left {
    position: relative;
    left: 60px;
    top: -20px
}

.cpe-roof-right{ 
    position: relative;
    left: -60px;
    top: -20px
}

.cpe-wall-left {
    position: relative;
    left: 30px;
    top: 10px
}

.cpe-wall-right{
    position: relative;
    left: -30px;
    top: 10px
}


.WindDirection-effort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    height: 100%;
    font-size: 85%;
}

.effort-wall-left {
    position: relative;
    left: -5px;
    top: -10px
}

.effort-wall-right{
    position: relative;
    left: 5px;
    top: -10px
}

.effort-roof-left {
    position: relative;
    left: 45px;
    top: -30px
}

.effort-roof-right{ 
    position: relative;
    left: -45px;
    top: -30px
}

.effort-center {
    text-align: center;
    position: relative;
    left: 135px;
    top: -85px;
    
}


/* -----------------------------Modify Image Cpi internal */

.cpi-roof-left {
    transform: rotate(180deg);
    transform-origin: 38% 35%;
    fill: red;
}
.cpi-roof-right {
    transform: rotate(180deg);
    transform-origin: 63% 35%;
    fill: red;
}

.cpi-wall-left  {
    transform: translateX(44%);
    fill: red;
}

.cpi-wall-right {
    transform: translateX(-42%);
    fill: red;
}

.animation-image-color{
    fill: blue;
}

/* -----------------------------Modify Image Cpi external */

.cpe-roof-left-0,.cpe-roof-left-180,.cpe-roof-left-90,.cpe-roof-left-270   {
    transform: rotate(180deg);
    transform-origin: 28% 10%;
    fill: red;
}
.cpe-roof-right-0,.cpe-roof-right-180,.cpe-roof-right-90,.cpe-roof-right-270 {
    transform: rotate(180deg);
    transform-origin: 72.8% 10.5%;
    fill: red;
}

.cpe-wall-left-0,.cpe-wall-left-180,.cpe-wall-left-90,.cpe-wall-left-270   {
    transform: rotate(180deg) translateX(-15.5%) translateY(-139.6%);
    fill: red;
}

.cpe-wall-right-0,.cpe-wall-right-180,.cpe-wall-right-90,.cpe-wall-right-270  {
    transform: rotate(180deg) translateX(-184.5%) translateY(-139.6%);
    fill: red;
}

/* -----------------------------Modify Image Cpi external */
.arrow-img-left-roof-0 ,.arrow-img-left-roof-90 ,.arrow-img-left-roof-180,.arrow-img-left-roof-270{
    transform: rotate(180deg);
    transform-origin: 27.5% 21.5%;
}

.arrow-img-right-roof-0,.arrow-img-right-roof-90,.arrow-img-right-roof-180,.arrow-img-right-roof-270 {
    transform: rotate(180deg);
    transform-origin: 72.5% 21.5%;
}

.arrow-img-left-wall-0 ,.arrow-img-left-wall-90 ,.arrow-img-left-wall-180,.arrow-img-left-wall-270{
    transform: rotate(180deg) translateX(-39%) translateY(-101.5%);
    transform-origin: 72.5% 21.5%;
}

.arrow-img-right-wall-0,.arrow-img-right-wall-90,.arrow-img-right-wall-180 ,.arrow-img-right-wall-270 {
    transform: rotate(180deg) translateX(-15.5%) translateY(-144.6%);
}

.arrows-img-color {
    fill: blue;
}


/* ----- bottões */

.box-1,.container-calculate{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.btn-dimension-wind{
    width: 150px;
    height:30px;
    font-size: 90%;
}
.btn-prev,.btn-close{
    padding: 2px 5px 2px 5px;
    font-size: 90%;
}

.btn-prev,.btn-close {
	color: rgb(2, 2, 2);
	transition: all 0.5s;
	position: relative;
}
.btn-close:hover {
	color: rgb(255, 0, 0);
}

.btn-prev:hover{
	color: #6c757d;
}

.btn-prev::before,.btn-close::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
    border-radius: 5px;
	background-color: #ced4da;
    opacity: 0.2;
	transition: all 0.3s;
}
.btn-prev:hover::before,.btn-close:hover::before  {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-prev::after,.btn-close::after  {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
    border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	transform: scale(1.2,1.2);
}

.btn-prev::after  {
	border: 1px solid rgba(0, 0, 0, 0.5);
}
.btn-close::after  {
	border: 1px solid rgba(255, 0, 0, 0.5);
}

.btn-prev:hover::after,.btn-close:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

/* -------Loading */


.lds-ring {
    /* display: inline-block; */
    position: absolute;
    right: 10px;
    z-index: 1000;
    bottom: 20px;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #6c757d;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #6c757d transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }