.content-wind {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wind-value {
    display: flex;
    align-items: center;
    justify-content: center;
}

#speedWind {
    text-align: center;
    margin-left: 8px;
    width: 50px;
}

/* ---------- taludes e morros */
.container-s1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dimension-Hills{
    display: none;
}

.on-dimension-Hills {
    display: block;
}

.s1-1,.s1-2,.s1-3 {
    margin-top: 2rem;
}

/* ---------- S2*/
.table-category {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.85em;
    font-family: sans-serif;
    min-width: 400px;
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.table-category thead tr {
    background-color: #adb5bd;
    color: #ffffff;
    text-align: center;
}
.table-category th,
.table-category td {
    padding: 7px 8px;
}

.table-category tbody tr {
    border-bottom: 1px solid #ced4da;
}

.table-category tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-category tbody tr:last-of-type {
    border-bottom: 2px solid #ced4da;
}
.table-category  tbody tr.active-row {
    font-weight: bold;
    color: #adb5bd;
}

/* ------------CpeWall */
.WindDirection-cpewall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    height: 100%;
}

.stage-Wall{
    height:100%
}

#table-cpeWall-0 {
    text-align: center;
    width: 300px;
}

.cpewall{
    height:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 85%;
}

/* -----------------------------Wind 0 */
.title-cpeWall{
    position: relative;
    left: 25px;
}

.a1-b1{
    height: 60px;
    width: 6px
}

.a3-b3{
    height: 95px;
}

.img-cpeWall-0 {
    position: relative;
    width: 90px;
}

#cpe-wind-0 {
    position: absolute;
    top: -42px;
    left: -30px;
}

.c-header {
    height: 70px;
    position: relative;
    top: -20px;
    left: 22px;
}

.d-footer{
    height: 30px;
    position: relative;
    top: 15px;
    left: 22px;
}

#cpe-a1-0 {
    position: relative;
    left: -10px;
}
#cpe-a3-0 {
    position: relative;
    left: 10px;
}

/* -----------------------------Wind 90 */
.cpeWall-0-section,.cpeWall-90-section {
    display: flex;
    align-items: center;
    justify-content:center;
}

.a-a{
    height:300px;
}

#table-cpeWall-90 {
    text-align: center;
    width: 250px;
    height: 250px;
}
.img-cpeWall-90 {
    position: relative;
    width: 200px;
}

#cpe-wind-90 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.a-a{
    position: relative;
    top: 29px;
}

.cpe-d1-90{
    position: relative;
    left: 90px;
}

.cpe-d2-90{
    position: relative;
    left: -75px;
}




/* -----------------------------Wind 0 */

.WindDirection-cperoof {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    height: 100%;
}

.stage-Roof{
    height:100%
}

#table-cpeRoof-0 {
    text-align: center;
    width: 300px;
}

.cperoof{
    height:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 85%;
}

#table-cperoof-0{
    position: relative;
    top: 40px;
    text-align: center;
}

.e-e{
    height: 55px;
}

.e-g{
    height: 50px;
    width: 45px;
}

.f-h{
    height: 77px;
}

.i-j{
    height:  88px;
}


.img-cpeRoof-0{
    position: relative;
    width: 150px;
    height: 90px;
}


#cpe-Roof-0{
    position: absolute;
    top: -40px;
    left: 17px;
}

.title-cpeRoof{
    position: relative;
    top: -90px;
}
/* -----------------------------Wind 90 */

.e-g.nin, .f-h.nin,.i-j.nin{
    position: relative;
    left: 25px
}

.cpe-img-Roof-90{
    position: relative;
    top: -6px;
}

.WindDirection-cperoof{
    position: relative;
    top: -15px;
    left: 10px;
}