.container {
    width: min(90vw, 800px);
    margin: auto;
}

header { 
    position: fixed;
    background: #3B3A39;
    height:4rem;
    width:100%;
    
}




.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-letter {
    display: block;
    position: relative;
    top: 0px;
    transition: 0s;
}

.toolbar-title {
    position: absolute;
    display:flex;
    align-items: center;
    left: 2rem;
    color: #fff;
    font-size: 1.2rem;
}

#logo {
    display: flex;
    margin-left:1rem;
}

.toolbar-btn {
    position: absolute;
    display: flex;
    align-items: center;
    right: 1.1rem;
}

/* Nav bar=============== */
.nav-header ul{
    display:flex;
    justify-content: center;
    /* margin-left: 0rem; */
}

.nav-header ul li{
    display: inline-block;
    line-height:4rem;
    text-align: center;
}

.nav-header ul li a{
    color: #fff;
    font-size: 1rem;
    line-height:4rem;
    text-transform: uppercase;
    margin: 0 1rem 0rem 1rem;  
}

button.auxiliar:hover {
    background: #e363144a;
    transition: 0.4s;
}

.nav-header ul li a:hover{
    color: #E36414;
    transition: 0.4s;
}

.icon-engineer {
    width: 2.5rem;
    height: 2.5rem;
}

/* Button Auxiliar=============== */
.toolbar-btn Button{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.4rem;
    transition: 0.4s;
}

/* Responsive =============== */
@media (max-width: 860px) {
    
    html{
        font-size: 0.8rem;
    }

    header,.nav-header ul li, .nav-header ul li a { 
        height: 3rem;
        line-height: 3rem;
    }
    
    img {
        width: 1.5rem;
        height: 1.5rem;
    }

    #logo {
        display: none;
    } 
    
}

@media (max-width: 460px) {
    
    html{
        font-size: 0.5rem;
    }

    header, .nav-header ul li, .nav-header ul li a { 
        height: 2.5rem;
        line-height: 2.5rem;
    }

    img {
        width: 1.8rem;
        height: 1.8rem;
    }

}