.container {
    width: min(90vw, 800px);
    margin: auto;
}

header { 
    background: #3B3A39;
    height:60px;
    width:100%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-letter {
    display: block;
    position: relative;
    top: 0px;
    transition: 0s;
}

.toolbar-title {
    position: absolute;
    display:flex;
    align-items: center;
    left: 20px;
    color: #fff;
    font-size: 1.2rem;
}

#logo {
    display: flex;
    margin-left:10px;
}

.toolbar-btn {
    position: absolute;
    display: flex;
    align-items: center;
    right:20px;
}

/* Nav bar=============== */
nav.nav-header ul{
    display:flex;
    justify-content: center;
    margin-left: 20px;
}

nav.nav-header ul li{
    display: inline-block;
    line-height: 60px;
    text-align: center;
}

nav.nav-header ul li a{
    color: #fff;
    font-size: 1rem;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0 1rem 0rem 1rem;  
}

button.auxiliar:hover {
    background: #e363144a;
    transition: 0.4s;
}

nav.nav-header ul li a:hover{
    color: #E36414;
    transition: 0.4s;
}

.icon-engineer {
    width: 2.5rem;
    height: 2.5rem;
}

/* Button Auxiliar=============== */
.toolbar-btn Button{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.4rem;
    transition: 0.4s;
}

/* Responsive =============== */
@media (max-width: 860px) {
    
    html{
        font-size: 0.8rem;
    }

    #logo {
        display: none;
    } 

    .icon-engineer {
        width: 2.4rem;
        height: 2.4rem;
    }

    .icon-notification,.icon-profile {
        width: 2rem;
        height: 2rem;
    }

    .toolbar-btn Button {
        width: 2.3rem;
        height: 2.3rem;
        margin-left: 0.3rem;
    }

}

@media (max-width: 460px) {
    
    html{
        font-size: 0.5rem;
    }

    .icon-engineer {
        width: 2.2rem;
        height: 2.2rem;
    }

}