<div class="stage-Roof tab">
    <div id="cperoof" class="cperoof">
        <div class="modal-cperoof">
            <div class="WindDirection-cperoof">

                <section class="cperoof-0-section">
                    <table id="table-cperoof-0" class="table-cpeRoof-0">
                        <thead>
                            <tr>
                                <th colspan="5" class="title-cpeRoof"> Vento a 0 Graus</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td class="e-g"><span id="G_0"></span></td>
                                <td rowspan="3" colspan="2" class="img-cpeRoof-0"> <img id="cpe-Roof-0" class="cpe-img-Roof-0" src="/assets/CpeRoofWind0.svg" alt="Vento a 0 Graus"></td>
                                <td class="e-g"><span id="E_0"></span></td>
                            </tr>
                            <tr>
                                <td class="f-h"><span id="F_0"></span></td>
                                <td class="f-h"><span id="H_0"></span></td>
                            </tr>
                            <tr>
                                <td class="i-j"><span id="I_0"></span></td>
                                <td class="i-j"><span id="J_0"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="cperoof-0-section">
                    <table id="table-cperoof-0" class="table-cpeRoof-0">
                        <thead>
                            <tr>
                                <th colspan="5" class="title-cpeRoof"> Vento a 90 Graus</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td class="e-g nin"><span id="E_90"></span></td>
                                <td rowspan="3" colspan="2" class="img-cpeRoof-90"> <img id="cpe-Roof-90" class="cpe-img-Roof-90" src="/assets/CpeRoofWind90.svg" alt="Vento a 90 Graus"></td> 
                                <td class="e-g"><span id="G_90"></span></td>
                            </tr>
                            <tr>
                                <td class="f-h nin"><span id="F_90"></span></td>
                                <td class="f-h"><span id="H_90"></span></td>
                            </tr>
                            <tr>
                                <td class="i-j nin"><span id="I_90"></span></td>
                                <td class="i-j"><span id="J_90"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
               
            </div>

        </div>
    </div>
</div>