<div class="stage-Roof tab" id="6">
    <div class="stage-Roof" id="5">
        <div class="cperoof">
            <div class="cperoof 0graus">
                <label id="0graus-E">0,7</label>
                <label id="0graus-F">0,7</label>
                <label id="0graus-G">-0,4</label>
                <label id="0graus-H">-0,4</label>
                <label id="0graus-I">-0,8</label>
                <label id="0graus-J">-0,5</label>
            </div>
            <div class="cperoof 90graus">
                <label id="90graus-E">-0,8</label>
                <label id="90graus-F">-0,4</label>
                <label id="90graus-G">-0,8</label>
                <label id="90graus-H">-0,4</label>
                <label id="90graus-I">0,7</label>
                <label id="90graus-J">0,7</label>
            </div>
        </div>
    </div>
</div>