<div class="stage-Wall tab" id="5">
    <div id="cpewall" class="cpewall">
        <div class="modal-cpewall">
            <div class="WindDirection-cpewall">

                <section class="cpeWall-0-section">
                    <table id="table-cpeWall-0" class="table-cpeWall-0">
                        <thead>
                            <tr>
                                <th colspan="3" > Vento a 0 Graus</th>
                            </tr>
                        </thead> 
                        <tbody>
                            
                            <tr>
                                <td colspan="2" class="c-header"><span id="cpe-c-0"></span></td>
                            </tr>
                            <tr>
                                <td class="a1-b1"><span id="cpe-a1-0"></span></td>
                                <td rowspan="3" class="img-cpeWall-0"><img id="cpe-wind-0" class="cpe-img-wind-0" src="/assets/CpeWallWind0.svg"> </td>
                                
                            </tr>
                            <tr>
                                <td class="a1-b1"><span id="cpe-a2-0"></span></td>
                                
                            </tr>
                            <tr>
                                <td class="a3-b3"><span id="cpe-a3-0"></span></td>
                                
                            </tr>
                            <tr>
                                <td colspan="2" class = "d-footer"><span id="cpe-d-0"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                
                <section class="cpeWall-90-section">
                    <table id="table-cpeWall-90" class="table-cpeWall-90">
                        <thead>
                            <tr>
                                <th colspan="3" > Vento a 90 Graus</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td class="a-a"><span id="cpe-a-90"></span></span></td>
                                <td rowspan="3" class="img-cpeWall-90"><img id="cpe-wind-90" class="cpe-img-wind-90" src="/assets/CpeWallWind90.svg"> </td>
                                <td class="a-a"><span id="cpe-b-90"></span></td>
                            </tr>
                            <tr>
                                <td class="cpe-d1-90"><span id="cpe-d1-90"></span></td>
                                <td class="cpe-d2-90"><span id="cpe-d2-90"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>

        </div>
    </div>
</div>