<div class="stage-Wall tab" id="5">
    <!-- <div class="cpewall">
        <div class="cpewall 0graus">
            <label id="0graus-C1">0,7</label>
            <label id="0graus-C2">0,7</label>
            <label id="0graus-D1">-0,4</label>
            <label id="0graus-D2">-0,4</label>
            <label id="0graus-A1">-0,8</label>
            <label id="0graus-A2">-0,5</label>
            <label id="0graus-A3">-0,4</label>
            <label id="0graus-B1">-0,8</label>
            <label id="0graus-B2">-0,5</label>
            <label id="0graus-B3">-0,4</label>
        </div>
        <div class="cpewall 90graus">
            <label id="90graus-C1">-0,8</label>
            <label id="90graus-C2">-0,4</label>
            <label id="90graus-D1">-0,8</label>
            <label id="90graus-D2">-0,4</label>
            <label id="90graus-A1">0,7</label>
            <label id="90graus-A2">0,7</label>
            <label id="90graus-A3">0,7</label>
            <label id="90graus-B1">-0,4</label>
            <label id="90graus-B2">-0,4</label>
            <label id="90graus-B3">-0,4</label>
        </div>
    </div> -->
    <div id="cpewall" class="cpewall">
        <div class="modal">
            <div class="WindDirection">

                <section class="cpe-grid-wind-0 cpe-template-wind-0">
                    <img id="cpe-wind-0" class="cpe-img-wind-0" src="/assets/wind0.svg"> 
                    <span id="cpe-a1-0" class="cpe-a1-0">1</span>
                    <span id="cpe-a2-0" class="cpe-a2-0">1</span>
                    <span id="cpe-a3-0" class="cpe-a3-0">1</span>
                    <span id="cpe-b1-0" class="cpe-a1-0">1</span>
                    <span id="cpe-b2-0" class="cpe-a2-0">1</span>
                    <span id="cpe-b3-0" class="cpe-a3-0">1</span>
                    <span id="cpe-c-0" class="cpe-c-0">1</span>
                    <span id="cpe-d-0" class="cpe-d-0">1</span>
                </section>
                
                <section class="cpe-rid-wind-90 cpe-template-wind-90">
                    <img id="cpe-wind-90" class="cpe-img-wind-90" src="/assets/wind90.svg"> 
                    <span id="cpe-a-90" class="cpe-a-90">2</span>
                    <span id="cpe-b-90" class="cpe-b-90">2</span>
                    <span id="cpe-c1-90" class="cpe-c1-90">2</span>
                    <span id="cpe-c2-90" class="cpe-c2-90">2</span>
                    <span id="cpe-d1-90" class="cpe-d1-90">2</span>
                    <span id="cpe-d2-90" class="cpe-d2-90">2</span>
                </section>
            </div>

        </div>
    </div>
</div>