<div class="stage-Wall tab" id="5">
    <div class="cpewall">
        <div class="cpewall 0graus">
            <label id="0graus-C1">0,7</label>
            <label id="0graus-C2">0,7</label>
            <label id="0graus-D1">-0,4</label>
            <label id="0graus-D2">-0,4</label>
            <label id="0graus-A1">-0,8</label>
            <label id="0graus-A2">-0,5</label>
            <label id="0graus-A3">-0,4</label>
            <label id="0graus-B1">-0,8</label>
            <label id="0graus-B2">-0,5</label>
            <label id="0graus-B3">-0,4</label>
        </div>
        <div class="cpewall 90graus">
            <label id="90graus-C1">-0,8</label>
            <label id="90graus-C2">-0,4</label>
            <label id="90graus-D1">-0,8</label>
            <label id="90graus-D2">-0,4</label>
            <label id="90graus-A1">0,7</label>
            <label id="90graus-A2">0,7</label>
            <label id="90graus-A3">0,7</label>
            <label id="90graus-B1">-0,4</label>
            <label id="90graus-B2">-0,4</label>
            <label id="90graus-B3">-0,4</label>
        </div>
    </div>
</div>