<div class="stage-Cpi" id="7">
    <div class="cpi">
        
         <!-- Será realizado o cpi do pior caso -->
        <!-- para vento a 0º, 90º, 180º e 270º  -->
        <div class="cpi 0graus">
            <label id="0graus-wallright">-0,8</label>
            <label id="0graus-wallleft">-0,8</label>
            <label id="0graus-roofright">-0,8</label>
            <label id="0graus-roofleft">-0,8</label>
            <label id="0graus-cpi">-0,2</label>
        </div>
    </div>

</div>