
<div class="stage-cpi tab">
    <div id="cpi" class="Cpi">
        <div class="modal-cpi">
            <div class="WindDirection-cpi">

                <section class="cpi-0-section">
                    <table id="table-cpi-0" class="table-cpi-0">
                        <thead>
                            <tr>
                                <th colspan="5" class="title-cpi"> 0 Graus</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td class=""><span class="cpe-roof-left" id="cpe-e-left-0"></span></td>
                                <td rowspan="2" colspan="2" class="img-cpi-0"> <img id="img-cpi-0" class="cpi-img-0" src="/assets/cpi_0.svg" alt="Vento a 0 Graus"></td> 
                                <td class=""><span class="cpe-roof-right" id="cpe-g-right-0"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="cpe-wall-left" id="cpe-a1-left-0"></span></td>
                                <td class=""><span class="cpe-wall-right" id="cpe-b1-right-0"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="cpi-center" id="cpi-0"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section class="cpi-90-section">
                    <table id="table-cpi-90" class="table-cpi">
                        <thead>
                            <tr>
                                <th colspan="5" class="title-cpi"> 90 Graus</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td class=""><span class="cpe-roof-left" id="cpe-e-left-90"></span></td>
                                <td rowspan="2" colspan="2" class="img-cpi-90"> <img id="img-cpi-90" class="cpi-img-90" src="/assets/cpi_90.svg" alt="Vento a 90 Graus"></td> 
                                <td class=""><span class="cpe-roof-right" id="cpe-g-right-90"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="cpe-wall-left" id="cpe-a-left-90"></span></td>
                                <td class=""><span class="cpe-wall-right" id="cpe-b-right-90"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="cpi-center" id="cpi-90"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section class="cpi-180-section">
                    <table id="table-cpi-180" class="table-cpi">
                        <thead>
                            <tr>
                                <th colspan="5" class="title-cpi"> 180 Graus</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td class=""><span class="cpe-roof-left" id="cpe-g-right-180"></span></td>
                                <td rowspan="2" colspan="2" class="img-cpi-180"> <img id="img-cpi-180" class="cpi-img-180" src="/assets/cpi_180.svg" alt="Vento a 180 Graus"></td> 
                                <td class=""><span class="cpe-roof-right" id="cpe-e-left-180"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="cpe-wall-left" id="cpe-b1-right-180"></span></td>
                                <td class=""><span class="cpe-wall-right" id="cpe-a1-left-180"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="cpi-center" id="cpi-180"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="cpi-270-section">
                    <table id="table-cpi-270" class="table-cpi">
                        <thead>
                            <tr>
                                <th colspan="5" class="title-cpi"> 270 Graus</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td class=""><span class="cpe-roof-left" id="cpe-g-right-270"></span></td>
                                <td rowspan="2" colspan="2" class="img-cpi-270"> <img id="img-cpi-270" class="cpi-img-270" src="/assets/cpi_270.svg" alt="Vento a 270 Graus"></td> 
                                <td class=""><span class="cpe-roof-right" id="cpe-e-left-270"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="cpe-wall-left" id="cpe-b-right-270"></span></td>
                                <td class=""><span class="cpe-wall-right" id="cpe-a-left-270"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="cpi-center" id="cpi-270"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>

            </div>

        </div>
    </div>
</div>
