<div class="stage-Dimension tab" id="dimension">
    <div class="shed">
        <div class="container-shed">
            <div class="floorPlan">
                <div class="container-floorPlan">
                    <div class="dimension-shed">
                        <section class="grid-floor-plan template-floor-plan">
                            <div class="plan">                
                                <svg class="img-floorPlan" width="178" height="268" viewBox="0 0 178 268" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect class = "hover-image 0" x="0.5" y="5.5" width="6" height="258" fill="#C4C4C4" stroke="black"/>
                                    <rect class = "hover-image 1" x="171.5" y="5.5" width="6" height="259" fill="#C4C4C4" stroke="black"/>
                                    <rect class = "hover-image 2" x="0.5" y="0.5" width="177" height="5" fill="#C4C4C4" stroke="black"/>
                                    <rect class = "hover-image 3" x="0.5" y="262.5" width="177" height="5" fill="#C4C4C4" stroke="black"/>
                                </svg>
                                <!-- <img src="/assets/floorPlan.svg" onload="fetchSvg(this)" alt="Planta Baixa"> -->
                            </div>
                            
                            <input 
                                    class="input-shed width"
                                    type="number" 
                                    step="0.1"
                                    placeholder="b(m)"
                                    id="widthShed" 
                                    name="widthShed"
                                    value="" />

                            <input 
                                    class="input-shed lenght"
                                    type="number" 
                                    step="0.1"
                                    placeholder="a(m)"
                                    id="lenghtShed"
                                    name="lenghtShed"
                                    value="" />
                        </section>
                    </div>
                </div>
            </div>

            <div class="waterproof">
                <div class="area-waterproof">
                    <section class="grid-waterproof template-waterproof">
                        <div class="planwater">
                            <svg name="image-dimension"class='planwater' width="178" height="268" viewBox="0 0 178 268" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect class = "hover-image" x="171.5" y="155.5" width="6" height="109" fill="#C4C4C4" stroke="black"/>
                                <rect class = "hover-image" x="171.5" y="76.5" width="6" height="79" fill="#C4C4C4" stroke="black"/>
                                <rect class = "hover-image" x="171.5" y="5.5" width="6" height="71" fill="#C4C4C4" stroke="black"/>
                                <rect class = "hover-image" x="0.5" y="155.5" width="6" height="108" fill="#C4C4C4" stroke="black"/>
                                <rect class = "hover-image" x="0.5" y="74.5" width="6" height="82" fill="#C4C4C4" stroke="black"/>
                                <rect class = "hover-image" x="0.5" y="4.5" width="6" height="71" fill="#C4C4C4" stroke="black"/>
                                <rect class = "hover-image" x="0.5" y="262.5" width="93" height="5" fill="#C4C4C4" stroke="black"/>
                                <rect class = "hover-image" x="89.5" y="262.5" width="88" height="5" fill="#C4C4C4" stroke="black"/>
                                <rect class = "hover-image" x="0.5" y="0.5" width="93" height="5" fill="#C4C4C4" stroke="black"/>
                                <rect class = "hover-image" x="89.5" y="0.5" width="88" height="5" fill="#C4C4C4" stroke="black"/>
                                <path class = "hover-image" d="M22.76 213.344H17.672L16.696 216H15.512L19.592 204.96H20.856L24.92 216H23.736L22.76 213.344ZM22.424 212.416L20.216 206.368L18.008 212.416H22.424ZM26.4295 207.456C26.5042 206.485 26.8775 205.723 27.5495 205.168C28.2322 204.603 29.1122 204.32 30.1895 204.32C30.9042 204.32 31.5175 204.448 32.0295 204.704C32.5415 204.96 32.9255 205.312 33.1815 205.76C33.4482 206.197 33.5815 206.693 33.5815 207.248C33.5815 207.92 33.3842 208.501 32.9895 208.992C32.5948 209.483 32.0348 209.787 31.3095 209.904V209.984C32.0668 210.133 32.6695 210.464 33.1175 210.976C33.5655 211.477 33.7895 212.139 33.7895 212.96C33.7895 213.877 33.4802 214.629 32.8615 215.216C32.2535 215.792 31.3682 216.08 30.2055 216.08C29.0962 216.08 28.1842 215.792 27.4695 215.216C26.7548 214.629 26.3442 213.803 26.2375 212.736H27.3255C27.4215 213.451 27.7202 214.032 28.2215 214.48C28.7228 214.917 29.3842 215.136 30.2055 215.136C31.0162 215.136 31.6348 214.923 32.0615 214.496C32.4988 214.069 32.7175 213.525 32.7175 212.864C32.7175 211.243 31.5495 210.432 29.2135 210.432H28.8615V209.488H29.2295C31.4055 209.488 32.4935 208.779 32.4935 207.36C32.4935 206.741 32.2908 206.245 31.8855 205.872C31.4802 205.488 30.9042 205.296 30.1575 205.296C29.4322 205.296 28.8295 205.488 28.3495 205.872C27.8802 206.245 27.6028 206.773 27.5175 207.456H26.4295Z" fill="black"/>
                                <path class = "hover-image" d="M22.76 119.344H17.672L16.696 122H15.512L19.592 110.96H20.856L24.92 122H23.736L22.76 119.344ZM22.424 118.416L20.216 112.368L18.008 118.416H22.424ZM26.2535 121.12C28.2162 119.648 29.7308 118.331 30.7975 117.168C31.8748 115.995 32.4135 114.848 32.4135 113.728C32.4135 112.992 32.2268 112.405 31.8535 111.968C31.4908 111.52 30.8935 111.296 30.0615 111.296C29.2508 111.296 28.6215 111.552 28.1735 112.064C27.7362 112.565 27.4908 113.237 27.4375 114.08H26.3495C26.4135 112.896 26.7762 111.979 27.4375 111.328C28.1095 110.667 28.9842 110.336 30.0615 110.336C31.0962 110.336 31.9335 110.629 32.5735 111.216C33.2135 111.792 33.5335 112.613 33.5335 113.68C33.5335 114.971 32.9948 116.224 31.9175 117.44C30.8508 118.645 29.5335 119.824 27.9655 120.976H33.8855V121.92H26.2535V121.12Z" fill="black"/>
                                <path class = "hover-image" d="M22.76 43.344H17.672L16.696 46H15.512L19.592 34.96H20.856L24.92 46H23.736L22.76 43.344ZM22.424 42.416L20.216 36.368L18.008 42.416H22.424ZM25.9335 35.536V34.528H28.6535V46H27.5175V35.536H25.9335Z" fill="black"/>
                                <path class = "hover-image" d="M39.768 18.4C39.768 17.3013 40.008 16.32 40.488 15.456C40.968 14.5813 41.624 13.904 42.456 13.424C43.288 12.9333 44.216 12.688 45.24 12.688C46.488 12.688 47.5547 12.9867 48.44 13.584C49.336 14.1707 49.9867 15.0027 50.392 16.08H49.08C48.76 15.3227 48.2693 14.7307 47.608 14.304C46.9573 13.8773 46.168 13.664 45.24 13.664C44.4187 13.664 43.6773 13.856 43.016 14.24C42.3653 14.624 41.8533 15.1787 41.48 15.904C41.1067 16.6187 40.92 17.4507 40.92 18.4C40.92 19.3493 41.1067 20.1813 41.48 20.896C41.8533 21.6107 42.3653 22.16 43.016 22.544C43.6773 22.928 44.4187 23.12 45.24 23.12C46.168 23.12 46.9573 22.912 47.608 22.496C48.2693 22.0693 48.76 21.4827 49.08 20.736H50.392C49.9867 21.8027 49.336 22.6293 48.44 23.216C47.544 23.8027 46.4773 24.096 45.24 24.096C44.216 24.096 43.288 23.856 42.456 23.376C41.624 22.8853 40.968 22.208 40.488 21.344C40.008 20.48 39.768 19.4987 39.768 18.4ZM51.8398 13.536V12.528H54.5598V24H53.4238V13.536H51.8398Z" fill="black"/>
                                <path class = "hover-image" d="M126.768 18.4C126.768 17.3013 127.008 16.32 127.488 15.456C127.968 14.5813 128.624 13.904 129.456 13.424C130.288 12.9333 131.216 12.688 132.24 12.688C133.488 12.688 134.555 12.9867 135.44 13.584C136.336 14.1707 136.987 15.0027 137.392 16.08H136.08C135.76 15.3227 135.269 14.7307 134.608 14.304C133.957 13.8773 133.168 13.664 132.24 13.664C131.419 13.664 130.677 13.856 130.016 14.24C129.365 14.624 128.853 15.1787 128.48 15.904C128.107 16.6187 127.92 17.4507 127.92 18.4C127.92 19.3493 128.107 20.1813 128.48 20.896C128.853 21.6107 129.365 22.16 130.016 22.544C130.677 22.928 131.419 23.12 132.24 23.12C133.168 23.12 133.957 22.912 134.608 22.496C135.269 22.0693 135.76 21.4827 136.08 20.736H137.392C136.987 21.8027 136.336 22.6293 135.44 23.216C134.544 23.8027 133.477 24.096 132.24 24.096C131.216 24.096 130.288 23.856 129.456 23.376C128.624 22.8853 127.968 22.208 127.488 21.344C127.008 20.48 126.768 19.4987 126.768 18.4ZM139.16 23.12C141.122 21.648 142.637 20.3307 143.704 19.168C144.781 17.9947 145.32 16.848 145.32 15.728C145.32 14.992 145.133 14.4053 144.76 13.968C144.397 13.52 143.8 13.296 142.968 13.296C142.157 13.296 141.528 13.552 141.08 14.064C140.642 14.5653 140.397 15.2373 140.344 16.08H139.256C139.32 14.896 139.682 13.9787 140.344 13.328C141.016 12.6667 141.89 12.336 142.968 12.336C144.002 12.336 144.84 12.6293 145.48 13.216C146.12 13.792 146.44 14.6133 146.44 15.68C146.44 16.9707 145.901 18.224 144.824 19.44C143.757 20.6453 142.44 21.824 140.872 22.976H146.792V23.92H139.16V23.12Z" fill="black"/>
                                <path class = "hover-image" d="M43.592 245.816C44.8293 245.816 45.8907 246.04 46.776 246.488C47.6613 246.936 48.3387 247.581 48.808 248.424C49.2773 249.267 49.512 250.269 49.512 251.432C49.512 252.584 49.2773 253.581 48.808 254.424C48.3387 255.256 47.6613 255.896 46.776 256.344C45.8907 256.781 44.8293 257 43.592 257H40.28V245.816H43.592ZM43.592 256.072C45.1493 256.072 46.3333 255.667 47.144 254.856C47.9653 254.035 48.376 252.893 48.376 251.432C48.376 249.96 47.9653 248.813 47.144 247.992C46.3333 247.16 45.1493 246.744 43.592 246.744H41.4V256.072H43.592ZM50.7929 246.536V245.528H53.5129V257H52.3769V246.536H50.7929Z" fill="black"/>
                                <path class = "hover-image" d="M130.592 245.816C131.829 245.816 132.891 246.04 133.776 246.488C134.661 246.936 135.339 247.581 135.808 248.424C136.277 249.267 136.512 250.269 136.512 251.432C136.512 252.584 136.277 253.581 135.808 254.424C135.339 255.256 134.661 255.896 133.776 256.344C132.891 256.781 131.829 257 130.592 257H127.28V245.816H130.592ZM130.592 256.072C132.149 256.072 133.333 255.667 134.144 254.856C134.965 254.035 135.376 252.893 135.376 251.432C135.376 249.96 134.965 248.813 134.144 247.992C133.333 247.16 132.149 246.744 130.592 246.744H128.4V256.072H130.592ZM138.113 256.12C140.076 254.648 141.59 253.331 142.657 252.168C143.734 250.995 144.273 249.848 144.273 248.728C144.273 247.992 144.086 247.405 143.713 246.968C143.35 246.52 142.753 246.296 141.921 246.296C141.11 246.296 140.481 246.552 140.033 247.064C139.596 247.565 139.35 248.237 139.297 249.08H138.209C138.273 247.896 138.636 246.979 139.297 246.328C139.969 245.667 140.844 245.336 141.921 245.336C142.956 245.336 143.793 245.629 144.433 246.216C145.073 246.792 145.393 247.613 145.393 248.68C145.393 249.971 144.854 251.224 143.777 252.44C142.71 253.645 141.393 254.824 139.825 255.976H145.745V256.92H138.113V256.12Z" fill="black"/>
                                <path class = "hover-image" d="M151.512 210.224C152.141 210.341 152.675 210.661 153.112 211.184C153.549 211.707 153.768 212.315 153.768 213.008C153.768 213.573 153.624 214.085 153.336 214.544C153.059 214.992 152.648 215.349 152.104 215.616C151.56 215.872 150.909 216 150.152 216H146.28V204.816H150.04C151.171 204.816 152.029 205.077 152.616 205.6C153.213 206.123 153.512 206.8 153.512 207.632C153.512 208.325 153.325 208.891 152.952 209.328C152.579 209.755 152.099 210.053 151.512 210.224ZM147.4 209.76H150.008C150.765 209.76 151.347 209.584 151.752 209.232C152.168 208.869 152.376 208.373 152.376 207.744C152.376 207.125 152.168 206.64 151.752 206.288C151.347 205.936 150.749 205.76 149.96 205.76H147.4V209.76ZM150.072 215.056C150.883 215.056 151.512 214.864 151.96 214.48C152.419 214.096 152.648 213.568 152.648 212.896C152.648 212.224 152.408 211.691 151.928 211.296C151.459 210.891 150.824 210.688 150.024 210.688H147.4V215.056H150.072ZM155.539 207.456C155.614 206.485 155.987 205.723 156.659 205.168C157.342 204.603 158.222 204.32 159.299 204.32C160.014 204.32 160.627 204.448 161.139 204.704C161.651 204.96 162.035 205.312 162.291 205.76C162.558 206.197 162.691 206.693 162.691 207.248C162.691 207.92 162.494 208.501 162.099 208.992C161.704 209.483 161.144 209.787 160.419 209.904V209.984C161.176 210.133 161.779 210.464 162.227 210.976C162.675 211.477 162.899 212.139 162.899 212.96C162.899 213.877 162.59 214.629 161.971 215.216C161.363 215.792 160.478 216.08 159.315 216.08C158.206 216.08 157.294 215.792 156.579 215.216C155.864 214.629 155.454 213.803 155.347 212.736H156.435C156.531 213.451 156.83 214.032 157.331 214.48C157.832 214.917 158.494 215.136 159.315 215.136C160.126 215.136 160.744 214.923 161.171 214.496C161.608 214.069 161.827 213.525 161.827 212.864C161.827 211.243 160.659 210.432 158.323 210.432H157.971V209.488H158.339C160.515 209.488 161.603 208.779 161.603 207.36C161.603 206.741 161.4 206.245 160.995 205.872C160.59 205.488 160.014 205.296 159.267 205.296C158.542 205.296 157.939 205.488 157.459 205.872C156.99 206.245 156.712 206.773 156.627 207.456H155.539Z" fill="black"/>
                                <path class = "hover-image" d="M151.512 116.224C152.141 116.341 152.675 116.661 153.112 117.184C153.549 117.707 153.768 118.315 153.768 119.008C153.768 119.573 153.624 120.085 153.336 120.544C153.059 120.992 152.648 121.349 152.104 121.616C151.56 121.872 150.909 122 150.152 122H146.28V110.816H150.04C151.171 110.816 152.029 111.077 152.616 111.6C153.213 112.123 153.512 112.8 153.512 113.632C153.512 114.325 153.325 114.891 152.952 115.328C152.579 115.755 152.099 116.053 151.512 116.224ZM147.4 115.76H150.008C150.765 115.76 151.347 115.584 151.752 115.232C152.168 114.869 152.376 114.373 152.376 113.744C152.376 113.125 152.168 112.64 151.752 112.288C151.347 111.936 150.749 111.76 149.96 111.76H147.4V115.76ZM150.072 121.056C150.883 121.056 151.512 120.864 151.96 120.48C152.419 120.096 152.648 119.568 152.648 118.896C152.648 118.224 152.408 117.691 151.928 117.296C151.459 116.891 150.824 116.688 150.024 116.688H147.4V121.056H150.072ZM155.363 121.12C157.326 119.648 158.84 118.331 159.907 117.168C160.984 115.995 161.523 114.848 161.523 113.728C161.523 112.992 161.336 112.405 160.963 111.968C160.6 111.52 160.003 111.296 159.171 111.296C158.36 111.296 157.731 111.552 157.283 112.064C156.846 112.565 156.6 113.237 156.547 114.08H155.459C155.523 112.896 155.886 111.979 156.547 111.328C157.219 110.667 158.094 110.336 159.171 110.336C160.206 110.336 161.043 110.629 161.683 111.216C162.323 111.792 162.643 112.613 162.643 113.68C162.643 114.971 162.104 116.224 161.027 117.44C159.96 118.645 158.643 119.824 157.075 120.976H162.995V121.92H155.363V121.12Z" fill="black"/>
                                <path class = "hover-image" d="M151.512 40.224C152.141 40.3413 152.675 40.6613 153.112 41.184C153.549 41.7067 153.768 42.3147 153.768 43.008C153.768 43.5733 153.624 44.0853 153.336 44.544C153.059 44.992 152.648 45.3493 152.104 45.616C151.56 45.872 150.909 46 150.152 46H146.28V34.816H150.04C151.171 34.816 152.029 35.0773 152.616 35.6C153.213 36.1227 153.512 36.8 153.512 37.632C153.512 38.3253 153.325 38.8907 152.952 39.328C152.579 39.7547 152.099 40.0533 151.512 40.224ZM147.4 39.76H150.008C150.765 39.76 151.347 39.584 151.752 39.232C152.168 38.8693 152.376 38.3733 152.376 37.744C152.376 37.1253 152.168 36.64 151.752 36.288C151.347 35.936 150.749 35.76 149.96 35.76H147.4V39.76ZM150.072 45.056C150.883 45.056 151.512 44.864 151.96 44.48C152.419 44.096 152.648 43.568 152.648 42.896C152.648 42.224 152.408 41.6907 151.928 41.296C151.459 40.8907 150.824 40.688 150.024 40.688H147.4V45.056H150.072ZM155.043 35.536V34.528H157.763V46H156.627V35.536H155.043Z" fill="black"/>
                            </svg>               
                        </div>
        
                        <input
                            class="a1 input-shed" 
                            type="number" 
                            step="0.1"
                            placeholder="m²"
                            id="area-a1" 
                            name="area-a1"
                            value="0" />
                        <input
                            class="a2 input-shed" 
                            type="number" 
                            step="0.1"
                            placeholder="m²"
                            id="area-a2" 
                            name="area-a2"
                            value="0" />
                        <input
                            class="a3 input-shed" 
                            type="number" 
                            step="0.1"
                            placeholder="m²"
                            id="area-a3" 
                            name="area-a3"
                            value="0" />
                        <input
                            class="b1 input-shed" 
                            type="number" 
                            step="0.1"
                            placeholder="m²"
                            id="area-b1" 
                            name="area-b1"
                            value="0" />
                        <input
                            class="b2 input-shed" 
                            type="number" 
                            step="0.1"
                            placeholder="m²"
                            id="area-b2" 
                            name="area-b2"
                            value="0" />
                        <input
                            class="b3 input-shed" 
                            type="number" 
                            step="0.1"
                            placeholder="m²"
                            id="area-b3" 
                            name="area-b3"
                            value="0" />
                        <input
                            class="c1 input-shed" 
                            type="number" 
                            step="0.1"
                            placeholder="m²"
                            id="area-c1" 
                            name="area-c1"
                            value="0" />
                        <input
                            class="c2 input-shed" 
                            type="number" 
                            step="0.1"
                            placeholder="m²"
                            id="area-c2" 
                            name="area-c2"
                            value="0" />
                        <input
                            class="d1 input-shed" 
                            type="number" 
                            step="0.1"
                            placeholder="m²"
                            id="area-d1" 
                            name="area-d1"
                            value="0" />
                        <input
                            class="d2 input-shed" 
                            type="number" 
                            step="0.1"
                            placeholder="m²"
                            id="area-d2" 
                            name="area-d2"
                            value="0" />
                    </section>  
                </div>
            </div>

            <div class="frontalcut">
                <div class="container-frontalcut">
                    <div class="frontal-cut">
                        <section class="grid-frontal-cut template-frontal-cut">
                            <div class="img-floorPlan">                
                                <svg class="img-frontalCut" width="205" height="182" viewBox="0 0 205 182" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect class = "hover-image" x="14.5" y="63.4995" width="6" height="114" fill="#C4C4C4" stroke="black"/>
                                    <rect class = "hover-image" x="185.5" y="63.4995" width="6" height="115" fill="#C4C4C4" stroke="black"/>
                                    <rect class = "hover-image" x="14.5" y="58.4995" width="177" height="5" fill="#C4C4C4" stroke="black"/>
                                    <path class = "hover-image" d="M3.95644 63.7411L1.45636 59.4108L101.5 0.871872L101.5 6.71314L3.95644 63.7411Z" fill="#C4C4C4" stroke="black"/>
                                    <path class = "hover-image" d="M200.881 63.5203L102.5 6.71159L102.5 3.50014L102.5 0.866781L203.381 59.19L200.881 63.5203Z" fill="#C4C4C4" stroke="black"/>
                                    <rect class = "hover-image" x="14.5" y="176.498" width="177" height="5" fill="#C4C4C4" stroke="black"/>
                                </svg>
                                <span id="angleRoof" class="input-shed angle-Roof" > 3.5 </span>
                                <!-- <input 
                                    class="input-shed angle-Roof"
                                    type="number" 
                                    step="0.1"
                                    placeholder="a(º)"
                                    id="angleRoof"
                                    name="angleRoof"
                                    value="" />  -->
                
                            </div>
                            <input 
                                    class="input-shed height-Roof"
                                    type="number" 
                                    step="0.1"
                                    placeholder="h(m)"
                                    id="heightRoof" 
                                    name="heightRoof"
                                    value="" />
                            
                            <input 
                                    class="input-shed height-shed"
                                    type="number" 
                                    step="0.1"
                                    placeholder="h(m)"
                                    id="heightShed" 
                                    name="heightShed"
                                    value="" /> 

                        </section>
                    </div>
                </div>
            </div>

            <div class="container-calculate">
                <button form="" class="btn-calculate" id="calculate">
                    Calcular
                </button>
            </div>
        </div>
    </div>
   
  
    
</div>
