<div class="stage-Effort tab" id="8">
    <div class="effort">
        
        <!-- Será realizado o esforço do pior caso -->
        <!-- para vento a 0º, 90º, 180º e 270º  -->
        <div class="effort 0graus">
            <label id="0graus-wallright">0,38</label>
            <label id="0graus-wallleft">-0,46</label>
            <label id="0graus-roofright">-0,96</label>
            <label id="0graus-roofleft">-0,46</label>
        </div>
    </div>
</div>