<div class="stage-effort tab" id="8">
    <div id="effort" class="Effort">
        <div class="modal-effort">
            <div class="WindDirection-effort">
                <section class="effort-0-section">
                    <table id="table-effort-0" class="table-effort">
                        <thead>
                            <tr>
                                <th colspan="5" class="title-effort"> 0 Graus </th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td class=""><span class="effort-roof-left" id="effort-e-left-0"></span></td>
                                <td rowspan="2" colspan="2" class="img-effort-0"> <img id="effort-img-0" src="/assets/effort_0.svg" alt="Esforço a 0 graus"></td> 
                                <td class=""><span class="effort-roof-right" id="effort-g-right-0"></span></td>
                                
                            </tr>
                            <tr>
                                <td class=""><span class="effort-wall-left" id="effort-a1-left-0"></span></td>
                                <td class=""><span class="effort-wall-right" id="effort-b1-right-0"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="effort-center" id="effort-0"></span></td>
                                <td class="">N/m</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="effort-90-section">
                    <table id="table-effort-90" class="table-effort">
                        <thead>
                            <tr>
                                <th colspan="5" class="title-effort"> 90 Graus </th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td class=""><span class="effort-roof-left" id="effort-e-left-90"></span></td>
                                <td rowspan="2" colspan="2" class="img-effort-90"> <img id="effort-img-90" src="/assets/effort_90.svg" alt="Esforço a 90 graus"></td> 
                                <td class=""><span class="effort-roof-right" id="effort-g-right-90"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="effort-wall-left" id="effort-a-left-90"></span></td>
                                <td class=""><span class="effort-wall-right" id="effort-b-right-90"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="effort-center" id="effort-90"></span></td>
                                <td class="">N/m</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="effort-180-section">
                    <table id="table-effort-180" class="table-effort">
                        <thead>
                            <tr>
                                <th colspan="5" class="title-effort"> 180 Graus </th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td class=""><span class="effort-roof-left" id="effort-e-left-180"></span></td>
                                <td rowspan="2" colspan="2" class="img-effort-180"> <img id="effort-img-180" src="/assets/effort_180.svg" alt="Esforço a 180 graus"></td> 
                                <td class=""><span class="effort-roof-right" id="effort-g-right-180"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="effort-wall-left" id="effort-a1-left-180"></span></td>
                                <td class=""><span class="effort-wall-right" id="effort-b1-right-180"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="effort-center" id="effort-180"></span></td>
                                <td class="">N/m</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="effort-270-section">
                    <table id="table-effort-270" class="table-effort">
                        <thead>
                            <tr>
                                <th colspan="5" class="title-effort"> 270 Graus </th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td class=""><span class="effort-roof-left" id="effort-e-left-270"></span></td>
                                <td rowspan="2" colspan="2" class="img-effort-270"> <img id="effort-img-270" src="/assets/effort_270.svg" alt="Esforço a 270 graus"></td> 
                                <td class=""><span class="effort-roof-right" id="effort-g-right-270"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="effort-wall-left" id="effort-a-left-270"></span></td>
                                <td class=""><span class="effort-wall-right" id="effort-b-right-270"></span></td>
                            </tr>
                            <tr>
                                <td class=""><span class="effort-center" id="effort-270"></span></td>
                                <td class="">N/m</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>