<div class="stage-S1 tab" id="2">

    <input 
            type="checkbox" 
            id="s1-1"
            name="s1-1"/>
    <label for="s1-1">Terreno plano ou fracamento acidentado</label>
                               
            <input 
            type="checkbox" 
            id="s1-2"
            name="s1-2"/>
    <label for="s1-2">Vales profundos protegidos de morro em qualquer direção</label>
    
    
    <input 
            type="checkbox" 
            id="s1-3"
            name="s1-3"/>
    <label for="s1-3">Taludes e morros</label>

    <div class="dimension-">
        <label for="widthShed">θ</label>
        <input 
            type="number" 
            id="slopesHillsAng"
            name="slopesHillsAng"/>
        <label for="slopesHillsAng">d</label>
        <input 
            type="number" 
            id="widthShed"
            name="widthShed"/>
        <label for="widthShed">Z</label>
        <input 
            type="number" 
            id="widthShed"
            name="widthShed"/>
        
    </div>
</div>
