<div class="stage-S2 tab" id="3">

    <table id="table-category">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Cota média do topo dos obstáculos (X)</th>
                    <th>Exemplo</th>
                </tr>
            </thead> 
            <tbody>

                <!-- Category-I -->
                <tr>
                    <td><input type="checkbox" id="category-I" name="category-I"/> <span>I</span></td>
                    <td>Superfícies lisas de grandes dimensões, com mais de 5 km de extensão, medida na direção e sentido do vento incidente</td>
                    <td>-</td>
                    <td>
                        <ul>
                            <li>mar calmo;</li>
                            <li>lagos e rios;</li>
                            <li>pântanos sem vegetação.</li>
                        </ul>
                    </td>
                </tr>

                <!-- Category-II -->
                <tr>
                    <td><input type="checkbox" id="category-II" name="category-II"/> <span>II</span></td>
                    <td>Terrenos abertos em nível ou, aproximadamente, em nível, com poucos obstáculos isolados:
                        <ul>
                            <li>árvores;</li>
                            <li>edificações baixas.</li>
                        </ul>
                    </td>
                    <td> X ≤ 1,0m </td>
                    <td>
                        <ul>
                            <li>zonas costeiras planas;</li>
                            <li>pântanos com vegetação rala;</li>
                            <li>campos de aviação;</li>
                            <li>pradarias e charnecas;;</li>
                            <li>fazendas sem sebes ou muros</li>
                        </ul>
                    </td>
                </tr>

                <!-- Category-III -->
                <tr>
                    <td><input type="checkbox" id="category-III" name="category-III"/> <span>III</span></td>
                    <td>Terrenos planos ou ondulados com obstáculos:
                        <ul>
                            <li>sebes e muros;</li>
                            <li>poucos quebra-ventos de árvores;</li>
                            <li>edificações baixas e esparsas.</li>
                        </ul>
                    </td>
                    <td> X ≤ 3,0m </td>
                    <td>
                        <ul>
                            <li>granjas e casas de campo, com exceção das partes com matos;</li>
                            <li>fazendas com sebes e/ou muros;</li>
                            <li>subúrbios a considerável distância do centro, com casas baixas e esparsas.</li>
                        </ul>
                    </td>
                </tr>

                <!-- Category-IV -->
                <tr>
                    <td><input type="checkbox" id="category-IV" name="category-IV"/> <span>IV</span></td>
                    <td>Terrenos cobertos por obstáculos numerosos e pouco espaçados:
                        <ul>
                            <li>zona florestal;</li>
                            <li>industrial;</li>
                            <li>urbanizada. </li>
                        </ul>
                    </td>
                    <td> X ≤ 10m </td>
                    <td>
                        <ul>
                            <li>zonas de parques e bosques com muitas árvores;</li>
                            <li>cidades pequenas e seus arredores;</li>
                            <li>subúrbios densamente construídos de grandes cidades;</li>
                            <li>áreas industriais plena ou parcialmente desenvolvidas.</li>
                        </ul>
                    </td>
                </tr>

                <!-- Category-V -->
                <tr>
                    <td><input type="checkbox" id="category-V" name="category-V"/> <span>V</span></td>
                    <td>Terrenos cobertos por obstáculos numerosos, grandes, altos e pouco espaçados</td>
                    <td> X ≥ 25m </td>
                    <td>
                        <ul>
                            <li>florestas com árvores altas, de copas isoladas;</li>
                            <li>centros de grandes cidades;</li>
                            <li>complexos industriais bem desenvolvidos.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
    </table>


</div>
