<div class="stage-S3 tab" id="4">

    <table id="table-group" class="table-category">
            <thead>
                <tr>
                    <th>Grupo</th>
                    <th>Descrição</th>
                </tr>
            </thead> 
            <tbody>

                <!-- Category-I -->
                <tr>
                    <td><input type="radio" id="group-1" name="group-FatorS3" checked="checked"/> <span>1</span></td>
                    <td>Edificações cuja ruína total ou parcial pode afetar a segurança ou possibilidade de socorro a pessoas após 1 uma tempestade destrutiva (hospitais, quartéis de 1,10 bombeiros e de forças de segurança, centrais de comunicação, etc.)</td>
                </tr>

                <!-- Category-II -->
                <tr>
                    <td><input type="radio" id="group-2" name="group-FatorS3"/> <span>2</span></td>
                    <td>Edificações para hotéis e residências. Edificações para o comércio e indústria com alto fator de ocupação.</td>
                </tr>

                <!-- Category-III -->
                <tr>
                    <td><input type="radio" id="group-3" name="group-FatorS3"/> <span>3</span></td>
                    <td>Edificações e instalações industriais com baixo fator de ocupações (depósitos, silos, construções rurais, etc.)</td>
                </tr>

                <!-- Category-IV -->
                <tr>
                    <td><input type="radio" id="group-4" name="group-FatorS3"/> <span>4</span></td>
                    <td>Vedações (telhas, vidros, painéis de vedação, etc.)</td>
                </tr>

                <!-- Category-V -->
                <tr>
                    <td><input type="radio" id="group-5" name="group-FatorS3"/> <span>5</span></td>
                    <td>Edificações temporárias. Estruturas dos grupos 1 a 3 durante a construção.</td>
                </tr>
            </tbody>
    </table>

</div>