<div class="stage-Wind tab" id="1">
    <label for="speedWind">b(m)</label>
    <input 
            type="number" 
            step="1"
            id="speedWind" 
            name="speedWind"
            placeholder="m/s"
            value="44" />
</div>