<div class="stage-Wind tab">
    <div class="content-wind">
        <div class="wind-value">
            <label for="speedWind">Velocidade básica do vento(m/s)</label>
            <input 
                    type="number" 
                    step="1"
                    id="speedWind" 
                    name="speedWind"
                    placeholder="m/s"
                    value="44" />
        </div>
        <div class="wind-isopletas">
            <img id="isopletas" src="/assets/isopletas.svg" alt="Isopleta dos ventos"> 
        </div>

    </div>
</div>