<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CivilLearning</title>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/default.css">
        <link rel="stylesheet" href="/public/css/toolbar.css">
        <link rel="stylesheet" href="/public/css/form.css">
        <link rel="stylesheet" href="/public/css/sidebar.css">
        <link rel="sortcut icon" href="/public/assets/engineer.svg">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
    
    <body>

        <header>

            <div class="header"> 
                
                    <div class="toolbar-title">
                        <img class="icon-engineer"src="/public/assets/engineer.svg" alt="Notificação"></img>
                        <label class="logo" id="logo">Civil Learning</label>
                    </div>

                    <div class="toolbar-letter">
                        <nav class="nav-header">
                            <ul>
                                <li><a href="" class="btn-toolbar" id="Home" title="">Home</a></li>
                                <li><a href="" class="btn-toolbar" id="Dashboard" title="">Dashboard</a></li>
                                <li><a href="" class="btn-toolbar" id="Help" title="">Ajuda</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="toolbar-btn">
                        <button class="btn-notification auxiliar" title="Notificações">
                            <img class="icon-notification"src="/public/assets/notification.svg" alt="Notificação"></img>
                        </button>

                        <button class="btn-profile auxiliar" title="Perfil">
                            <img class="icon-profile"src="/public/assets/profile.svg" alt="Perfil"></img>
                        </button>                        
                    </div>

            </div>
            
        </header>
        
        <main id="body">
            <div id="sidebar">
                    <nav id="id-sidebar" class="nav-sidebar">    
                        <ul>
                            <li id="data-list">

                                <div class="menu">
                                    
                                </div> 
                                <a class="step-dimension" href="#" onclick="SideBar.menu()">
                                    <img class="image-side" src="/public/assets/menu.svg" alt="Menu" >
                                        
                                </a>
                                
                                <a class="step-dimension" href="#" 
                                    onclick="SideBar.openClosed()">
                                        <img class="image-side" src="/public/assets/wind.svg" alt="wind">
                                        <span class="list-iten">Ventos</span>
                                        <span id="caret" class="fas fa-caret-down"></span>
                                </a>
                                <ul id="feat-show">
                                    <li>
                                        <div class="step-name">
                                            <span class="step"></span>
                                            <span class="step-text">Dimensões</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="step-name">
                                            <span class="step"></span>
                                            <span class="step-text">Ventos</span>
                                            
                                        </div>
                                    </li>
                                    <li>
                                        <div class="step-name">
                                            <span class="step"></span>
                                            <div class="step-text">Fator S1</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="step-name">
                                            <span class="step"></span>
                                            <div class="step-text">Fator S2</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="step-name">
                                            <span class="step"></span>
                                            <div class="step-text">Fator S3</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="step-name">
                                            <span class="step"></span>
                                            <div class="step-text">Cpe Paredes</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="step-name">
                                            <span class="step"></span>
                                            <div class="step-text">Cpe Telhado</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="step-name">
                                            <span class="step"></span>
                                            <div class="step-text">Cpi</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="step-name">
                                            <span class="step"></span>
                                            <div class="step-text">Esforços</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="step-name">
                                            <span class="step"></span>
                                            <div class="step-text">Resumo</div>
                                        </div>
                                    </li>
                                </ul>

                                <a class="step-dimension" href="#">
                                    <img class="image-side" src="/public/assets/slab.svg" alt="Ventos">
                                    <span class="list-iten">Lajes</span>
                                </a>
                                <a class="step-dimension" href="#">
                                   <img class="image-side"src="/public/assets/beam.svg" alt="Vigas">
                                   <span class="list-iten">Vigas</span>
                                </a>
                                <a class="step-dimension" href="#">
                                    <img class="image-side" src="/public/assets/column.svg" alt="Pilares">
                                    <span class="list-iten">Pilares</span>
                                </a>
                                <a class="step-dimension" href="#">
                                    <img class="image-side" src="/public/assets/shoe.svg" alt="Sapatas">
                                    <span class="list-iten">Sapatas</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
            </div>

            <div id="container">
                <div class="content-container">
                    <form id="regForm" action="">
                        
                        <div class="stage-dimension" id="0">
                            <div class="dimension-shed">
                                <div class="input-shed">
                                    <label for="name">b(m)</label>
                                    <input 
                                            type="number" 
                                            step="0.1"
                                            placeholder="m"
                                            id="widthShed"
                                            name="widthShed"
                                            value="10" />

                                    <label for="name">b(m)</label>
                                    <input 
                                            type="number" 
                                            step="0.1"
                                            placeholder="m"
                                            id="widthShed" 
                                            name="widthShed"
                                            value="20" />
                                    
                                    <label class="B1">b(m)</label>
                                    <label class="B2">b(m)</label>
                                    <label class="B3">b(m)</label>
                                    <label class="D1">b(m)</label>
                                    <label class="D1">b(m)</label>
                                </div>  
                                
                                <div class="input-shed">
                                    <label for="name">b(m)</label>
                                    <input 
                                            type="number" 
                                            step="0.1"
                                            placeholder="m"
                                            id="heightShed" 
                                            name="heightShed"
                                            value="5" />

                                    <label for="name">b(m)</label>
                                    <input 
                                            type="number" 
                                            step="0.1"
                                            placeholder="m"
                                            id="heightroof" 
                                            name="heightroof"
                                            value="1" />
                                
                                </div>  
                            </div>

                            <div class="waterproof-area">
                                <table id="table-waterproof">
                                    <thead>
                                        <tr>
                                            <th>Descrição</th>
                                            <th>Área (m²)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>A1</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>A2</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>A3</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>B1</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>B2</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>B3</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>C1</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>C2</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>D1</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>D2</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="stage-wind" id="1">
                            <label for="name">b(m)</label>
                            <input 
                                    type="number" 
                                    step="1"
                                    id="speedWind" 
                                    name="speedWind"
                                    placeholder="m/s"
                                    value="44" />

                            <img src="" alt="Mapa de Isopletas">

                        </div>

                        <div class="stage-S1" id="2">

                            <input 
                                    type="checkbox" 
                                    id="s1-1"
                                    name="widthShed"/>
                            <label for="widthShed">Terreno plano ou fracamento acidentado</label>
                                                       
                                    <input 
                                    type="checkbox" 
                                    id="s1-2"
                                    name="widthShed"/>
                            <label for="widthShed">Vales profundos protegidos de morro em qualquer direção</label>
                            
                            
                            <input 
                                    type="checkbox" 
                                    id="s1-3"
                                    name="widthShed"/>
                            <label for="widthShed">Taludes e morros</label>

                            <div class="slopesHills">
                                <label for="widthShed">θ</label>
                                <input 
                                    type="number" 
                                    id="slopesHillsAng"
                                    name="slopesHillsAng"/>
                                <label for="slopesHillsAng">d</label>
                                <input 
                                    type="number" 
                                    id="widthShed"
                                    name="widthShed"/>
                                <label for="widthShed">Z</label>
                                <input 
                                    type="number" 
                                    id="widthShed"
                                    name="widthShed"/>
                                
                            </div>
                        </div>

                        <div class="stage-S2" id="3">
                        </div>

                        <div class="stage-S3" id="4">
                        </div>

                        <div class="stage-Wall" id="5">
                        </div>

                        <div class="stage-Root" id="6">
                        </div>

                        <div class="stage-Cpi" id="7">
                        </div>

                        <div class="stage-effort" id="8">
                        </div>

                        <div class="stage-summary" id="9">
                        </div>
                              

                    </form>


                </div>
            </div>
        </main>




        
        <!-- <footer id="footer">
            <a href="https://github.com/roliveira15/Analise-Ventos-TCC" target="_blank" class="github">
                <img src="/public/assets/github.svg" alt="">
            </a>
            <p>Civil Learning</p>
        </footer> -->
    
        <script src="/public/script/animation.js"></script>

    </body>

   
</html>