<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CivilLearning</title>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/default.css">
        <link rel="stylesheet" href="/public/css/toolbar.css">
        <link rel="stylesheet" href="/public/css/modal.css">
        <link rel="stylesheet" href="/public/css/sidebar.css">
        <link rel="stylesheet" href="/public/css/dimension.css">
        <link rel="sortcut icon" href="/public/assets/engineer.svg">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
    <body>

        <header>

            <div class="header"> 
                
                    <div class="toolbar-title">
                        <img class="icon-engineer"src="/public/assets/engineer.svg" alt="Notificação"></img>
                        <label class="logo" id="logo">Civil Learning</label>
                    </div>

                    <div class="toolbar-letter">
                        <nav class="nav-header">
                            <ul>
                                <li><a href="" class="btn-toolbar" id="Home" title="">Home</a></li>
                                <li><a href="" class="btn-toolbar" id="Dashboard" title="">Dashboard</a></li>
                                <li><a href="" class="btn-toolbar" id="Help" title="">Ajuda</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="toolbar-btn">
                        <button class="btn-notification auxiliar" title="Notificações">
                            <img class="icon-notification"src="/public/assets/notification.svg" alt="Notificação"></img>
                        </button>

                        <button class="btn-profile auxiliar" title="Perfil">
                            <img class="icon-profile"src="/public/assets/profile.svg" alt="Perfil"></img>
                        </button>                        
                    </div>

            </div>
            
        </header>
        
        <main id="body">
            <section id="sidebar">
                    <nav id="id-sidebar" class="nav-sidebar">    
                        <ul>
                            
                            <li id="data-list">

                                <div class="menu">
                                    <img class="image-side" src="/public/assets/menu.svg" alt="Menu" onclick="SideBar.menu()">
                                </div> 
                                
                                <a href="#" 
                                    class="btn-wind" 
                                    onclick="SideBar.open()">
                                        <img class="image-side" src="/public/assets/wind.svg" alt="wind">
                                        <span class="list-iten">Ventos</span>
                                        <span id="caret" class="fas fa-caret-down"></span>
                                </a>
                                <ul id="feat-show">
                                    <li><a href="/">Dimensões</a></li>
                                    <li><a href="/">Ventos</a></li>
                                    <li><a href="/">Fator S1</a></li>
                                    <li><a href="/">Fator S2</a></li>
                                    <li><a href="/">Fator S3</a></li>
                                    <li><a href="/">Cpe Parede</a></li>
                                    <li><a href="/">Cpe Telhado</a></li>
                                    <li><a href="/">Cpi</a></li>
                                    <li><a href="/">Esforços</a></li>
                                    <li><a href="/">Resumo</a></li>
                                </ul>

                                <a href="#">
                                    <img class="image-side" src="/public/assets/wind.svg" alt="Ventos">
                                    <span class="list-iten">Lajes</span>
                                </a>
                                <a href="#">
                                   <img class="image-side"src="/public/assets/slab.svg" alt="Vigas">
                                   <span class="list-iten">Vigas</span>
                                </a>
                                <a href="#">
                                    <img class="image-side" src="/public/assets/column.svg" alt="Pilares">
                                    <span class="list-iten">Pilares</span>
                                </a>
                                <a href="#">
                                    <img class="image-side" src="/public/assets/shoe.svg" alt="Sapatas">
                                    <span class="list-iten">Sapatas</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

            </section>
            <section id="content-dimension">
                <script src="../controllers/Dimensions.js"></script>
                <script src="/public/script/animation.js"></script>
    
                <footer>
                    <a href="https://github.com/roliveira15/Analise-Ventos-TCC" target="_blank" class="github">
                        <img src="/public/assets/github.svg" alt="">
                    </a>
                    <p>Civil Learning</p>
                </footer>
            </section>
           
        </main>
    </body>
</html>