<footer id="footer">
            <a href="https://github.com/roliveira15/Analise-Ventos-TCC" target="_blank" class="github">
                <img src="/assets/github.svg" alt="">
            </a>
            <p>Civil Learning</p>
</footer>
