<div class="header"> 
                
    <div class="toolbar-title">
        <img class="icon-engineer"src="/assets/engineer.svg" alt="Notificação"></img>
        <label class="logo" id="logo">Civil Learning</label>
    </div>

    <div class="toolbar-letter">
        <nav class="nav-header">
            <ul>
                <li><a href="" class="btn-toolbar" id="Home" title="">Home</a></li>
                <li><a href="" class="btn-toolbar" id="Dashboard" title="">Dashboard</a></li>
                <li><a href="" class="btn-toolbar" id="Help" title="">Ajuda</a></li>
            </ul>
        </nav>
    </div>

    <div class="toolbar-btn">
        <button class="btn-notification auxiliar" title="Notificações">
            <img class="icon-notification"src="/assets/notification.svg" alt="Notificação"></img>
        </button>

        <button class="btn-profile auxiliar" title="Perfil">
            <img class="icon-profile"src="/assets/profile.svg" alt="Perfil"></img>
        </button>                        
    </div>

</div>