<div id="sidebar">
    <nav id="id-sidebar" class="nav-sidebar">    
        <ul>
            <li id="data-list">

                <div class="menu">
                    
                </div> 
                <a class="step-dimension" href="#" onclick="SideBar.menu()">
                    <img class="image-side" src="/assets/menu.svg" alt="Menu" >
                        
                </a>
                
                <a class="step-dimension" href="#" 
                    onclick="SideBar.openClosed()">
                        <img class="image-side" src="/assets/wind.svg" alt="wind">
                        <span class="list-iten">Ventos</span>
                        <span id="caret" class="fas fa-caret-down"></span>
                </a>
                <ul id="feat-show">
                    <li>
                        <div class="step-name">
                            <span class="step"></span>
                            <span class="step-text">Dimensões</span>
                        </div>
                    </li>
                    <li>
                        <div class="step-name">
                            <span class="step"></span>
                            <span class="step-text">Ventos</span>
                            
                        </div>
                    </li>
                    <li>
                        <div class="step-name">
                            <span class="step"></span>
                            <div class="step-text">Fator S1</div>
                        </div>
                    </li>
                    <li>
                        <div class="step-name">
                            <span class="step"></span>
                            <div class="step-text">Fator S2</div>
                        </div>
                    </li>
                    <li>
                        <div class="step-name">
                            <span class="step"></span>
                            <div class="step-text">Fator S3</div>
                        </div>
                    </li>
                    <li>
                        <div class="step-name">
                            <span class="step"></span>
                            <div class="step-text">Cpe Paredes</div>
                        </div>
                    </li>
                    <li>
                        <div class="step-name">
                            <span class="step"></span>
                            <div class="step-text">Cpe Telhado</div>
                        </div>
                    </li>
                    <li>
                        <div class="step-name">
                            <span class="step"></span>
                            <div class="step-text">Cpi</div>
                        </div>
                    </li>
                    <li>
                        <div class="step-name">
                            <span class="step"></span>
                            <div class="step-text">Esforços</div>
                        </div>
                    </li>
                    <li>
                        <div class="step-name">
                            <span class="step"></span>
                            <div class="step-text">Resumo</div>
                        </div>
                    </li>
                </ul>

                <a class="step-dimension" href="#">
                    <img class="image-side" src="/assets/slab.svg" alt="Ventos">
                    <span class="list-iten">Lajes</span>
                </a>
                <a class="step-dimension" href="#">
                   <img class="image-side"src="/assets/beam.svg" alt="Vigas">
                   <span class="list-iten">Vigas</span>
                </a>
                <a class="step-dimension" href="#">
                    <img class="image-side" src="/assets/column.svg" alt="Pilares">
                    <span class="list-iten">Pilares</span>
                </a>
                <a class="step-dimension" href="#">
                    <img class="image-side" src="/assets/shoe.svg" alt="Sapatas">
                    <span class="list-iten">Sapatas</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
