
#body,#home-container {
  height: 100vh;

}

#container {
  display: flex;
  justify-content: center;
  top: 7rem;
  margin-left: 13rem;
  /* height: 100%; */
}

.content-container {
  position: relative;
  width: 800px;
  /* height:80vh; */
  height:700px;
  background: #fff;
  /* box-shadow: 7px 8px 6px rgba(0, 0, 0, 0.25);
   */
   box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 20%) !important
   
}
/* .header-container */
#value-wind ul{
  display:flex;
  justify-content: center;
  margin-top: 12px

}

.style-text-header,.style-content{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.style-content{

  /* font-weight: 300;
  color: #ff8800; */
  font-size:1rem;
}

.style-information{
  margin: 0 10px 0 0;
  padding: .2rem;
  align-items: center;
}


.style-header {
  display: flex;
  width: 110px;
  border: 0.6px solid #d6d6d6;
  background: #fff;
  font-size:.70rem;
  color: #555;
  margin: 0 10px 0 0;
  padding: .2rem;
  border-radius: .5rem;

}


.style-header .active-value {
  
  background: #E36414;
  color: #fff;
  /* border: 0.6px solid #d6d6d6;
  background: #555; */

}


#value-wind::after{
  display: block;
  content:"";
  width: 90%;
  height:1px;
  background-color : #C4C4C4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.form-container{
  margin:2rem;
  height:80%;
}

.btn-from{
  position: absolute;
  bottom:11rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem 0 3rem;
}


.tab {
  display: none;
}

.btn-from {
  bottom: 2rem;
}

.step.finish {
  background-color: #4CAF50;
}

.step.active, .li-step.active {
  background-color: #4c9c4f;
}

.messageError {
  display:none;
}

.messageError-on {
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 70px;
  width: 270px;
  padding:  10px;
  background: #fb8600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 4s;
  opacity: 0.77;
  
}

#messageText{
  
  margin-left:  10px;
  font-size: 12px;
  text-align: center;
  color: white;
  
}

/* Responsive =============== */
/* @media (max-width: 980px) {
  .content-container {
    width: 700px;
  }
}

@media (max-width: 860px) {
  #container {
      top: 3rem;
  }
  .content-container {
    width: 600px;
  }
}

@media (max-width: 460px) {
  #container {
      top: 2.5rem;
  }
  .content-container {
    width: 500px;
  }
} */
/* Style the form */
/* #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  } */
  
  /* Style the input fields */
  /* input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
   */
  /* Mark input boxes that gets an error on validation: */
  /* input.invalid {
    background-color: #ffdddd;
  }
   */
  /* Make circles that indicate the steps of the form: */
  
  /* Mark the active step: */
  /* .step.active {
    opacity: 1;
  } */
  
  



